footer {
  background-color: greenyellow;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: $margin-left-content;
  margin-right: $margin-right-content;
  border-top: 1px solid gray;

  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
}