header {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-left: $margin-left-content;
  margin-right: $margin-right-content;
  border-bottom: 1px solid gray;
}

.logo-blog {
  background-color: gray;
  width: 150px;
  height: 75px;
}

h1 {
  padding-top: 15px;
  font-size: 23px;
}

@media screen and (min-width: 768px) {
  header {
    width: calc(70% - 30px);
    align-items: flex-start;
  }
}