.container-lists {
    background-color: orange;
    padding-top: 40px;
    padding-left: 15px;
    width: 50%;
}

.list {
    list-style: none;
    padding-bottom: 30px;
}

li {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .container-lists {
        width: 100%;
    }
}