.container-author {
    background-color: red;
    padding-left: $margin-right-content;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 50%;
}

.circle {
    background-color: gray;
    width: 130px;
    height: 130px;
    border-radius: 100%;
}

h3 {
    font-size: 17px;
    padding-top: 15px;
    padding-right: 15px;
}

.container-author p {
    font-size: 18px;
    font-weight: 500;
    padding-right: 15px;
}