.container-articles p {
    font-size: 18px;    
}

.article {
    background-color: yellow;
    padding-top: 30px;
    padding-left: $margin-right-content;
}

h2 {
    font-size: 19px;
    padding-bottom: 15px;
}