.container-lists {
    background-color: orange;
    padding-top: 40px;
    width: 50%;
    padding-left: 15px;
}

.list {
    list-style: none;
    padding-bottom: 30px;
}

li {
    font-size: 16px;
}