<div class="container-articles">
  <article class="article">
    <h2 class="h2">Título del post</h2>
    <p>Lorem ipsum Nam litora efficitur, Quisque Morbi ac lacus dapibus In efficitur, erat, dapibus Fusce sit mi per mattis vitae.
    </p>
  </article>
  <article class="article">
    <h2 class="h2">Título del post</h2>
    <p>Lorem ipsum Nam litora efficitur, Quisque Morbi ac lacus dapibus In efficitur, erat, dapibus Fusce sit mi per mattis vitae.
    </p>
  </article>
  <article class="article">
    <h2 class="h2">Título del post</h2>
    <p>Lorem ipsum Nam litora efficitur, Quisque Morbi ac lacus dapibus In efficitur, erat, dapibus Fusce sit mi per mattis vitae.
    </p>
  </article>
</div>