@import 'core/reset';
@import 'core/variables';

// @import 'components/code';
// @import 'components/links';

@import 'layout/header';
@import 'layout/main-articles';
@import 'layout/main-author';
@import 'layout/main-lists';
@import 'layout/footer';

:root {
    font-family: $font-main;
    @media screen and (min-width: 768px) {
        body {
            background-color: aliceblue;
            border-left: 40px solid gray;
            border-right: 40px solid white;
        }
    }
}

.container-author-lists {
    display: flex;
    flex-direction: row;
}


@media screen and (min-width: 768px) {
    .container-header-main {
        background-color: beige;
        width: 100%;
        height: 700px;
    }
    
    header {
        width: 70%;
    }

    .container-articles {
        width: 70%;
    }

    .container-author-lists {
        flex-direction: column;
        width: 30%;
    }
}