@import 'core/reset';
@import 'core/variables';

// @import 'components/code';
// @import 'components/links';

@import 'layout/header';
@import 'layout/main-articles';
@import 'layout/main-author';
@import 'layout/main-lists';
@import 'layout/footer';



.container-author-lists {
    display: flex;
    flex-direction: row;
}


@media screen and (min-width: 768px) {
    main {
        background-color: beige;
        display: flex;
        flex-wrap: wrap;
    }
    
    .container-articles {
        width: 70%;
    }

    .container-author-lists {
        flex-direction: column;
        width: 30%;
        transform: translateY(-177px);
    }
}